[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
**/.DS_Store
**/.DS_Store?
**/._*
**/.Spotlight-V100
**/.Trashes
**/ethumbs.db
**/Thumbs.db
